body {
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
}

#box {
	height: 700px;
	width: 1380px;
	position: fixed;
	top: 10%;
	richness: 10%;
	background-image: url(../img/csimg/dtbg1.jpg);
	background-size: cover;
	overflow: hidden;
}

.show {
	position: absolute;
	width: 1300px;
	cursor: pointer;
	margin-top: 100px;
	margin-left: 10px;
	left: 25px;
}
.show .showitem {
	width: 200px;
	height: 150px;
	display: block;
	margin: 10px;
}
.show.topBottom {
	width: 1300px;
}
.show.topBottom .showitem {
	float: left;
	margin: 5px;
}
.showtop,.showbottom {
	float: left;
}
.showtop {
	margin-top: -50px;
}
.showbottom {
	margin-top: 330px;
}

.canvas {
	width: 1350px;
	height: 450px;
	position: absolute;
	left: 0px;
	top: 120px;
	z-index: -1;
}
.backcanvas {
	width: 1350px;
	height: 450px;
	position: absolute;
	left: 0px;
	top: 120px;
	z-index: -2;
}

.savePair img {
	position: absolute;
	bottom: 6%;
	right: 0.5%;
}
.savePair img:hover {
	transform: scale(1.1);
}
#a1 {
	position: absolute;
	right: 1%;
	bottom: 1%;
	font-family: "幼圆";
	color: #3B3B3B;
	font-weight: bold;
	font-size: 18px;
}
