/* CSS reset */
a img{border:0;}
a img:hover{border:0;}
body
	{
		overflow:scroll;
        overflow-x:hidden;
		overflow-y: hidden;
		margin:0;
	}
#box{
	height: 650px;
	width: 1200px;
	position:fixed;
	margin: auto;
	margin-top: -10px;
	margin-left: 50px;
	background-image: url(../img/csimg/dtbg1.jpg);
      			background-size: cover;
      			overflow: hidden;
}
#a1{
	position:absolute;
	right:10px;
	top:620px;
	font-family:"幼圆";
	color:#3B3B3B;
	font-weight:bold;
	font-size:18px;
}


