html,body,div,ul,ol,li {
	width: 100%;
	margin: 0;
	padding: 0;
}
html {
	min-width: 1200px;
}
body {
	background: #B0C4DE;
	font-family: 华文新魏;
}
img {
	vertical-align: middle;
}
ul {
	list-style-type: none;
}
a:link,
a:visited {
	outline: none;
	text-decoration: none;
	color: #7f7f7f;
}
a:hover,a:focus {
	text-decoration: none;
	color: #000;
}
a img, :link img, :visited img {
	border: 0;
}
.wrapper {
	position: relative;
	width: 1200px;
	height: 100%;
	margin: auto auto;
	zoom: 1;
}

/* 轮播 */

.banner {
	position: relative;
	overflow: auto;
	width: 1200px;
	padding-top: 50px;
}
.banner li {
	list-style: none;
}
.banner ul li {
	float: left;
}

.banner .arrows {
	display: none;
}
.banner:hover .arrows,.banner.hover .arrows {
	display: block;
}
@media only screen {
	.banner .arrows {
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
		opacity: 0;
		display: block;
	}
	.banner:hover .arrows,.banner.hover .arrows {
		opacity: 1;
	}
}
.banner .arrows {
	position: absolute;
	z-index: 20;
}
.banner .arrows .prev,.banner .arrows .next {
	position: absolute;
	width: 76px;
	height: 77px;
	font: 0/0 a;
	color: transparent;
	cursor: pointer;
}
.banner .arrows .prev {
	left: 30px;
	background: url(img/slide_arrow_left.png) no-repeat;
}
.banner .arrows .next {
	left: 1100px;
	background: url(img/slide_arrow_right.png) no-repeat;
}
.section4 {
	height: 650px;
}
.section4 .banner ul li {
	height: 650px;
}
.section4 .banner .arrows {
	top: 50%;
}
.section4 .dots {
	position: absolute;
	width: 1200px;
	height: 10%;
	top: 0;
	text-align: center;
	font-size: 24px;
	background: #fff;
}

.section4 .dot {
	float: left;
	line-height: 60px;
	width: 300px;
	border-bottom: 2px solid;
	border-top: 2px solid #e8e8e8;
	cursor: pointer;
}
.section4 .dot1,.section4 .dot2,.section4 .dot3,.section4 .dot4 {
	border-bottom-color: #063273;
}
.section4 .dot1.active,.section4 .dot2.active,.section4 .dot3.active,.section4 .dot4.active {
	background: #063273;
}
.lianjie {
	width: 100%;
	height: 90px;
	margin: auto;
	display: flex;
	align-content: center;
	justify-content: center;
	position: absolute;
	bottom: 2%;
}
.lianjie img {
	width: 180px;
	height: 90px;
	opacity: 0.8;
	margin-left: 80px;
	margin-right:80px;
}
.lianjie img:hover {
	opacity: 1;
}
