body {
				background-color: #B0C4DE;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/mcsrzpimg/zsbg.png);
      			background-size: cover;
      			overflow: hidden;
			}
			#p1 {
				width: 1200px;
				height: 630px;
				padding: 10px;
				margin:50px auto;
				border-radius: 5%;
      			border: dotted white;
				display: flex;
				overflow: hidden;
			}
			#p2 {
				font-family: 华文行楷;
				font-size: 40px;
				color: #2b3954;
			}
			#p3 {
				margin-left: 300px;
				font-family: 华文新魏;
				font-size: 30px;
				color: #2b3954;
			}
			#tijiao{
				background-image: url(../img/srzpcsimg/r90.png);
				background-color:transparent;
	            border:0;
	            font-family:"幼圆";
	            color:#575757;
	            font-weight:bold;
	            height:60px;
	            width:120px;
	            font-size:21px;
	            border-radius:3px;
				position: absolute;
				top: 560px;
				left: 650px;
			}
			#cw1,#cw2,#cw3,#zq,#ts {
				position: absolute;
				top: 630px;
				left: 630px;
				font-size: 30px;
				color: #2b3954;
				margin: 0px auto;
			}
			#before {
				position: absolute;
				left: 100px;;
				bottom: 150px;
			}
			#next {
				position: absolute;
				left: 1200px;
				bottom: 150px;
			}
			#before:hover,#next:hover {
				transform: scale(1.1);
			}
			.imgclose{
			  	position: fixed;
	      		right: 10px;
	      		top: 10px;
			}