body {
	background-color: #B0C4DE;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/csimg/zsbg.png);
	background-size: cover;
	overflow: hidden;
}
#p1 {
	width: 70%;
	height: 700px;
	margin-top: 3%;
	margin-left: 10%;
	border-radius: 5%;
	border: dotted white;
	background-image: url(../img/csimg/dtbg1.jpg);
	background-size: cover;
	display: flex;
	overflow: hidden;
}
#p2 {
	font-family: 幼圆;
	font-weight: bolder;
	margin-top: 100px;
	margin-left: 90px;
	margin-right: 60px;
	font-size: 30px;
	color: rgba(70, 130, 180, 0.8);
}
#p3 {
	font-family: 幼圆;
	font-weight: bold;
	font-size: 25px;
	color: rgba(70, 130, 180, 0.8);
}
#tijiao {
	background-image: url(../img/csimg/r90.png);
	background-color: transparent;
	border: 0;
	font-family: 幼圆;
	color: #575757;
	font-weight: bold;
	height: 60px;
	width: 120px;
	font-size: 21px;
	border-radius: 3px;
}
#cw,#zq,#ts {
	width: 60%;
	font-family: 幼圆;
	font-size: 30px;
	line-height: 35px;
	color: rgba(255, 128, 0, 0.8);
	margin: 0px auto;
	word-break: break-all;
	word-wrap: break-word;
}